<nav class="grey lighten-5" role="navigation">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">BIG</a>
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
            <img src="/assets/img/logo2.png" class="logo" alt="Basic income guarantee foundation logo"/>
        </a>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down laptopMenu">
            <!-- <li><a href="{{ "/" | relative_url }}">Home </a></li> -->
            <li><a target="_blank" href="https://github.com/bigfoundation/Documentation/blob/master/BIGwhitepaperEN.md">WHITEPAPER</a></li>
            <li><a href="#roadmap">ROADMAP</a></li>
            <li><a href="#homefaqDesktop">GET BASIC INCOME</a></li>

            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}              
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li class="center-align">
                <img src="/assets/img/logo2.png" class="logo" alt="Basic income guarantee foundation logo" style="width: 180px; height: 180px;" />
            </li>
            <!-- <li><a href="#">Home</a></li> -->
            <li><a target="_blank" href="https://github.com/bigfoundation/Documentation/blob/master/BIGwhitepaperEN.md">WHITEPAPER</a></li>
            <li><a href="#roadmap">ROADMAP</a></li>
            <li><a href="#homefaq">GET BASIC INCOME</a></li>

                            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %} 
          </ul>        

        <a href="#" data-activates="nav-mobile" class="button-collapse right" style="color: #6d919e;">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>