<div class="row">
	<h2 class="center">How to watch BIG tokens in your wallet?</h2>
	<ul id="homefaq" class="collapsible hide-on-med-and-up " data-collapsible="accordion">
		<li>
			<div class="collapsible-header">
				<span><i class="material-icons">info_outline</i>Token information</span>
				<i class="material-icons right">keyboard_arrow_down</i>
			</div>
			<div class="collapsible-body">
				<ul>
					<li>Address: 0x07e76a4c93ea197cb578fef37d046972890df61b</li>
					<li>Token Symbol: BIG</li>
					<li>Decimals: 18</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<span><i class="material-icons">info_outline</i>MyEtherWallet</span>
				<i class="material-icons right">keyboard_arrow_down</i>
			</div>
			<div class="collapsible-body">
				<ul>
					<li>Go to <a href="https://www.myetherwallet.com/#view-wallet-info" style="text-decoration: underline;">https://www.myetherwallet.com/#view-wallet-info</a> and access your wallet</li>
					<li>Click “Add Custom Token”</li>
					<li>Write in token information in fields</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<span><i class="material-icons">info_outline</i>MetaMask</span>
				<i class="material-icons right">keyboard_arrow_down</i>
			</div>
			<div class="collapsible-body">
				<ul>
					<li>Unlock your MetaMask</li>
					<li>Click “TOKENS” tab</li>
					<li>Click “Add Token”</li>
					<li>Write in token information in fields</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
