@media screen and (min-width: 992px) {

    nav {
        .brand-logo.left {
            margin-left: 72px;
            margin-top: 1px;
        }
        #logo-container {
            margin-left: 16px;
        }
    }
}