--- 
layout: default
---
<div id="index-banner" class="no-pad-bot col s12 xl5">
    <div class="index-bg pushpin" data-target="index-banner"></div>
    <div class="container">
        <div class="row center">
            <div class="col s12 center-align introText">
                <h1>Basic Income Guarantee</h1>
                <p class="hide-on-small-only">A basic income (also called basic income guarantee, Citizen's Income, unconditional basic income, universal basic income (UBI), or universal demogrant) is a form of social security in which all citizens or residents of a country receive a regular, unconditional sum of money, either from a government or some other public institution, independent of any other income.</p>
            </div>
        </div>
    </div>
            <div class="row smartData">
                <div class="col s6 m3 center-align">
                    <div class="block">
                        <div class="row"><strong id="wallets">78</strong></div>
                        <div class="divider"></div>
                        <div class="row">Created wallets</div>
                    </div>
                </div>
                <div class="col s6 m3 center-align">
                    <div class="block">
                        <div class="row"><strong id="queue">40</strong></div>
                        <div class="divider"></div>
                        <div class="row">Queue</div>
                    </div>
                </div>
                <div class="col s6 m3 center-align">
                    <div class="block">
                        <div class="row"><strong id="buyed">90</strong></div>
                        <div class="divider"></div>
                        <div class="row">Buy tokens</div>
                    </div>
                </div>
                <div class="col s6 m3 center-align">
                    <div class="block">
                        <div class="row"><strong id="supply">160</strong></div>
                        <div class="divider"></div>
                        <div class="row">Tokens supply</div>
                    </div>
                </div>
                <div class="col s12 center-align">
                    <div class="block progress">
                        <div class="row">
                            <div class="col s4 m2">
                                <strong id="percent">33 %</strong>
                            </div>
                            <div class="col s8 m10" style="padding-top: 6px;">
                                <div class="row">
                                    <div class="col s4">Balance:</div>
                                    <div class="col s8 right-align"><strong id="collected">332</strong> ETH</div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="progress grey lighten-3">
                                            <div class="determinate amber darken-1" id="progress"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col s4">SoftCap:</div>
                                    <div class="col s8 right-align"><strong id="cap">1000</strong> ETH</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 center-align">
                    <div class="col s3 m3 center-align">
                        <div class="block">
                            <a class="link" href="https://t.me/bigfoundation" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#6d919e" fill-rule="evenodd" d="M12.652 16.539c-.766.712-1.527 1.412-2.28 2.118-.263.248-.559.385-.937.366-.258-.014-.402-.122-.481-.355-.577-1.708-1.162-3.411-1.736-5.12-.056-.167-.138-.247-.314-.3-1.36-.395-2.716-.8-4.07-1.21a2.368 2.368 0 0 1-.6-.264c-.277-.18-.318-.473-.069-.684.23-.194.506-.364.792-.472 1.661-.628 3.332-1.236 5-1.849l12.696-4.674c.804-.296 1.423.121 1.34.951-.054.531-.198 1.054-.315 1.578-.919 4.138-1.839 8.277-2.762 12.415-.22.982-.943 1.239-1.791.643-1.42-.998-2.838-2-4.257-3l-.216-.143zm-3.187 1.256l.048-.012c.009-.039.022-.077.025-.115.091-.938.188-1.876.267-2.816a.678.678 0 0 1 .258-.498c1.309-1.117 2.61-2.24 3.913-3.36 1.443-1.242 2.886-2.482 4.324-3.728.089-.077.126-.207.187-.314-.136-.014-.28-.066-.404-.035a1.797 1.797 0 0 0-.476.224c-3.184 1.913-6.366 3.829-9.552 5.738-.18.108-.214.2-.145.388.235.644.448 1.293.67 1.942l.885 2.586z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 m3 center-align">
                        <div class="block">
                            <a class="link" href="https://www.facebook.com/basicincomeguarantee/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#6d919e" fill-rule="evenodd" d="M13.985 22v-9.001h2.662L17 9.897h-3.015l.004-1.552c0-.81.082-1.243 1.328-1.243h1.664V4h-2.663C11.12 4 9.994 5.505 9.994 8.035v1.862H8V13h1.994V22h3.99z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 m3 center-align">
                        <div class="block">
                            <a class="link" href="https://github.com/bigfoundation" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#6d919e" fill-rule="evenodd" d="M12,2C6.5,2,2,6.5,2,12c0,4.4,2.9,8.2,6.8,9.5c0.5,0.1,0.7-0.2,0.7-0.5c0-0.2,0-0.9,0-1.7
	                            C6.7,19.9,6.1,18,6.1,18C5.7,16.8,5,16.5,5,16.5c-0.9-0.6,0.1-0.6,0.1-0.6c1,0.1,1.5,1,1.5,1C7.5,18.5,9,18,9.5,17.8
	                            c0.1-0.6,0.3-1.1,0.6-1.3c-2.2-0.3-4.6-1.1-4.6-4.9c0-1.1,0.4-2,1-2.7C6.5,8.5,6.2,7.5,6.7,6.1c0,0,0.8-0.3,2.7,1
	                            C10.3,7,11.2,6.8,12,6.8c0.8,0,1.7,0.1,2.5,0.3c1.9-1.3,2.7-1,2.7-1c0.5,1.4,0.2,2.4,0.1,2.6c0.6,0.7,1,1.6,1,2.7
	                            c0,3.8-2.3,4.7-4.6,4.9c0.4,0.3,0.7,0.9,0.7,1.9c0,1.3,0,2.4,0,2.7c0,0.3,0.2,0.6,0.7,0.5c4-1.3,6.8-5.1,6.8-9.5C22,6.5,17.5,2,12,2
	                            z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 m3 center-align">
                        <div class="block">
                            <a class="link" href="https://bitcointalk.org/index.php?topic=2267926.msg22978627#msg22978627" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path  fill="#6d919e" d="M11.1,12.1l-0.6,2.4c0.7,0.2,3,0.9,3.4-0.4v0C14.3,12.7,11.9,12.3,11.1,12.1z"/>
<path  fill="#6d919e" d="M14.4,2.3C9.1,1,3.6,4.2,2.3,9.6C1,14.9,4.2,20.4,9.6,21.7c5.4,1.3,10.8-1.9,12.1-7.3C23,9.1,19.8,3.6,14.4,2.3
	z M16.4,10.6L16.4,10.6c-0.1,1-0.7,1.4-1.4,1.6c1,0.5,1.5,1.3,1,2.7c-0.6,1.7-2,1.8-3.9,1.5l-0.5,1.8l-1.1-0.3l0.4-1.8
	c-0.3-0.1-0.6-0.1-0.9-0.2l-0.4,1.8l-1.1-0.3l0.5-1.8C8.8,15.5,6.9,15,6.9,15l0.5-1.3c0,0,0.8,0.2,0.8,0.2c0.3,0.1,0.4-0.1,0.5-0.3
	l1.2-4.9c0-0.2-0.1-0.5-0.5-0.6c0,0-0.8-0.2-0.8-0.2l0.3-1.2c0,0,2,0.5,2.2,0.5l0.4-1.8l1.1,0.3l-0.4,1.8c0.3,0.1,0.6,0.1,0.9,0.2
	L13.6,6l1.1,0.3l-0.4,1.8C15.6,8.5,16.6,9.2,16.4,10.6z"/>
<path  fill="#6d919e" d="M11.9,8.8L11.4,11c0.6,0.2,2.5,0.8,2.8-0.5C14.6,9.3,12.6,9,11.9,8.8z"/>
</svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

</div>
<div id="home" class="col s12 xl7">
    <div class="section">
        <div class="row center" style="padding-top: 40px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ydKcaIE6O1k" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <h2 class="center">How to get BIG?</h2>
            <ul id="homefaq" class="collapsible hide-on-med-and-up " data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <span><i class="material-icons">person_add</i> Registration</span>
                        <i class="material-icons right">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body"><span>Sign up at <a href="https://lk.big.foundation" style="text-decoration: underline;">https://lk.big.foundation</a>.<br/> Fill your social profile and your Ethereum wallet. (Don't use Jaxx, Coinbase and any exchanges wallet. We recommend to use MEW, MetaMask or ImToken)</span></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span><i class="material-icons">verified_user</i> Verification</span>
                        <i class="material-icons right">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body"><span>Wait while our manager contact you and verify your social profile. He'll give you a smart contract address.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span><i class="material-icons">account_balance_wallet</i> Payment</span>
                        <i class="material-icons right">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body"><span>To verify your wallet send a minimum of 0.01 ETH to smart contract address. You can send any sum you want and you'll get more BIG tokens (1 BIG = 0.01 ETH)</span></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span><i class="material-icons">card_giftcard</i> Get bonus</span>
                        <i class="material-icons right">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">
                        <span>You can buy as many tokens as you want. You can get bonus:</span>
                        <ul>
                            <li>Bonus of 10% for sum from 100 ETH;</li>
                            <li>Bonus of 20% for sum from 500 ETH;</li>
                            <li>Bonus of 30% for sum from 1,000 ETH;</li>
                            <li>Bonus of 40% for sum from 5,000 ETH;</li>
                            <li>Bonus of 50% for sum from 10,000 ETH.</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span><i class="material-icons">fingerprint</i> Get BIG</span>
                        <i class="material-icons right">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">
                        <span>After the payment you'll start to get 1 BIG token every day for free forever!</span>
                    </div>
                </li>
            </ul>
            <div id="homefaqDesktop" class="col s12 hide-on-small-only">
                <div class="row">
                    <div class="col s1 center-align">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="col s11">
                        <h3>Registration</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 offset-s1">
                        <span><span>Sign up at <a href="https://lk.big.foundation" style="text-decoration: underline;">https://lk.big.foundation</a>.<br/> Fill your social profile and your Ethereum wallet. (Don't use Jaxx, Coinbase and any exchanges wallet. We recommend to use MEW, MetaMask or ImToken)</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 center-align">
                        <i class="material-icons">verified_user</i>
                    </div>
                    <div class="col s11">
                        <h3>Verification</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 offset-s1">
                        <span>Wait while our manager contact you and verify your social profile. He'll give you a smart contract address.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 center-align">
                        <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <div class="col s11">
                        <h3>Payment</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 offset-s1">
                        <span>To verify your wallet send a minimum of 0.01 ETH to smart contract address. You can send any sum you want and you'll get more BIG tokens (1 BIG = 0.01 ETH)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 center-align">
                        <i class="material-icons">card_giftcard</i>
                    </div>
                    <div class="col s11">
                        <h3>Get bonus</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 offset-s1">
                        <span>You can buy as many tokens as you want. You can get bonus:</span>
                        <ul>
                            <li>Bonus of 10% for sum from 100 ETH;</li>
                            <li>Bonus of 20% for sum from 500 ETH;</li>
                            <li>Bonus of 30% for sum from 1,000 ETH;</li>
                            <li>Bonus of 40% for sum from 5,000 ETH;</li>
                            <li>Bonus of 50% for sum from 10,000 ETH.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1 center-align">
                        <i class="material-icons">fingerprint</i>
                    </div>
                    <div class="col s11">
                        <h3>Get BIG</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 offset-s1">
                         <span>After the payment you'll start to get 1 BIG token every day for free forever!</span>
                    </div>
                </div>
            </div>
            <div class="col s6 m5 offset-m1"">
                <a href="https://etherscan.io/token/0x07e76a4c93ea197cb578fef37d046972890df61b" target="_blank" class="waves-effect waves-light btn amber accent-3">Token address</a>
            </div>
            <div class="col s6 m5">
                <a href="https://etherscan.io/address/0x748f9a0ac36b123c7e4f687f7737f759628c4392" target="_blank" class="waves-effect waves-light btn amber accent-3">Crowdsale</a>
            </div>
        </div>
        <div class="row center" style="padding-top: 40px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PArYs-fdJeM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="roadmap" class="row">
            <h2 class="center">Roadmap</h2>
            <div class="col s12 m4 center">
              <div class="center promo promo-example">
                <img src="/assets/img/ic-etherium.svg" />
                <p class="promo-caption">NOW</p>
                <p class="light center">Ethereum smart contract that allows you to get 1 BIG token every day to your Ethereum wallet.</p>
              </div>
            </div>
            <div class="col s12 m4 center">
              <div class="center promo promo-example">
                <img src="/assets/img/ic-phone-iphone.svg" />
                <p class="promo-caption">1000 ETH</p>
                <p class="light center">Mobile wallet with opportunity to get BIG tokens and spend them to buy or sell any goods and services.</p>
              </div>
            </div>
            <div class="col s12 m4 center">
              <div class="center promo promo-example">
                <img src="/assets/img/logo.svg" />
                <p class="promo-caption">50000 ETH</p>
                <p class="light center">Independent BIG dPOS blockchain without ETH commission, creation of the foundation for the development and promotion of the project.</p>
              </div>
            </div>
          </div>
        <div class="row center" style="padding-top: 40px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rJYLSrjFUxk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="press" class="row">
            <h2 class="center">Press about Basic Income</h2>
            <div class="col s12 m4 center">
                <a class="link" href="https://theconversation.com/survey-reveals-young-people-more-likely-to-support-universal-basic-income-but-its-not-a-left-right-thing-87554#_=_" target="_blank">
                    <img src="https://static.tildacdn.com/tild6538-3666-4461-a563-386531316535/_20171121_193103.png" style="max-width:160px;"> 
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="http://www.businessinsider.com/kenyas-basic-income-experiment-just-launched-2017-11" target="_blank">
                    <img src="https://static.tildacdn.com/tild3233-6336-4161-b034-363139666131/_20171116_133440.png" style="max-width:160px;">
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="https://futurism.com/richard-branson-universal-basic-income-will-protect-us-from-the-threat-of-ai/" target="_blank">
                    <img src="https://static.tildacdn.com/tild3832-3036-4935-b865-316662353266/_20171014_115300.png" style="max-width:160px;">
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="https://www.wired.com/story/free-money-the-surprising-effects-of-a-basic-income-supplied-by-government/" target="_blank">
                    <img src="https://static.tildacdn.com/tild3631-6563-4761-b935-356564336539/wired_logo.png" style="max-width:160px;">
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="https://www.geek.com/tech-science-3/elon-musk-automation-will-force-universal-basic-income-1701217/" target="_blank">
                    <img src="https://static.tildacdn.com/tild3831-6162-4231-b339-303739326136/_20171014_115135.png" style="max-width:160px;">
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="https://hackernoon.com/why-everyone-missed-the-most-mind-blowing-feature-of-cryptocurrency-860c3f25f1fb" target="_blank">
                    <img src="https://static.tildacdn.com/tild3734-6533-4566-a662-613363393736/14zj4s2m3cDFY3XURCZ_.png" style="max-width:160px;">
                </a>
            </div>
            
            <div class="col s12 m4 center">
                <a class="link" href="https://www.weforum.org/agenda/2017/07/why-mark-zuckerberg-is-advocating-universal-basic-income-in-the-us" target="_blank">
                    <img src="https://static.tildacdn.com/tild6431-3864-4763-a339-613633336636/_20171014_115341.png" style="max-width:160px;">
                </a>
            </div>
            <div class="col s12 m4 center">
                <a class="link" href="https://futurism.com/universal-basic-infrastructure/" target="_blank">
                    <img src="https://static.tildacdn.com/tild3832-3036-4935-b865-316662353266/_20171014_115300.png"  style="max-width:160px;">
                </a>
            </div>
        </div>
        <div id="team" class="row">
            <div class="col s12">
                <h2 class="center">Team</h2>
                <div class="row">
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Ryabov.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Sergey Ryabov</p>
                            <p class="light">CEO</p>
                            <a href="https://www.facebook.com/sergey.ryabov.90" target="_blank" style="">Facebook</a>
                    </div>
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Bereznitskiy.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Dmitriy Bereznitskiy</p>
                            <p class="light">CTO</p>
                            <a href="https://www.facebook.com/profile.php?id=100010739792969" target="_blank" style="">Facebook</a>
                            
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Mengeshev.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Vitaliy Mengeshev</p>
                            <p class="light">COO</p>
                            <a href="https://www.facebook.com/profile.php?id=100010743032495" target="_blank" style="">Facebook</a>

                    </div>
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Vasilev.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Aleksandr Vasilev</p>
                            <p class="light">Data Scientist, Mathematician, Data Analysis Specialist</p>
                            <a href="https://www.linkedin.com/in/aleksandr-vasilev-4bab3425/" target="_blank" style="">LinkedIn</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Morozov.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Sergey Morozov</p>
                            <p class="light">Backend Developer</p>
                            <a href="https://www.linkedin.com/in/sergey-morozov-aba83b80/" target="_blank" style="">LinkedIn</a>
                    </div>
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Prigornitskiy.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Eugene Prigornitskiy</p>
                            <p class="light">Backend Developer, Mobile developer</p>
                            <a href="https://www.facebook.com/evgeniy.prigornitskiy" target="_blank" style="">Facebook</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Travnikov.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Roman Travnikov</p>
                            <p class="light">React/Redux Frontend development</p>
                            <a href="https://www.linkedin.com/in/travnikovrn/" target="_blank" style="">LinkedIn</a>
                    </div>
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Mikheev.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Sergey Miheev</p>
                            <p class="light">System administrator and architect</p>
                            <a href="https://www.linkedin.com/in/sergey-mikheev-54168a62/" target="_blank" style="">LinkedIn</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Gashitsky.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Peter Gashitsky</p>
                            <p class="light">UX/UI Designer</p>
                            <a href="https://behance.net/gashitsky" target="_blank" style="">Behance</a>
                    </div>
                    <div class="col s12 m6 member">
                            <div class="photo" style="background: url(/assets/img/team/Kholodnykh.jpg); background-size: cover;" /></div>
                            <p class="promo-caption">Alexander Kholodnykh</p>
                            <p class="light">Backend Developer</p>
                            <a href="https://www.facebook.com/a.kholodnykh" target="_blank" style="">Facebook</a>
                    </div>
                </div>
            </div>
          </div>
        <!-- <div id="another" class="row">
            <div class="col s12">
                    <h2 class="center">How to pay?</h2>
                    <p class="light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
            <div class="col s12">
                    <h2 class="center">How to add token to wallet?</h2>
                    <p class="light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div> -->
    </div>
    <!-- <div id="offers">
        <div class="row">
            <section class="col s12">
                <h2 class="center-align">You can buy goods now!</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <div  class="collection row">
                    {% for post in site.posts %}
                    <div class="offer col s12 m6 white z-depth-2">
                        <div class="row">
                            <div class="img" style="background-image: url(/assets/img/{{ post.img }})"></div>
                            <div class="col s12">
                                <h4>{{ post.title | escape }}</h4>
                                <p>{{ post.content | truncatewords: 30 }}</p>
                                <a href="#" target="_blank" class="waves-effect waves-light btn amber accent-3">Buy for {{ post.price }} BIG</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div> -->
</div>
